{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Available Tour Packages</h2>
    <div class="row">
        {% for package in packages %}
        <div class="col-md-4">
            <div class="card mb-4">
               {% if package.image_filename %}
<img src="{{ url_for('static', filename='uploads/' ~ package.image_filename) }}" 
     class="card-img-top" alt="{{ package.title }}">
{% endif %} 

                <div class="card-body">
                    <h5 class="card-title">{{ package.title }}</h5>
                    <p class="card-text">{{ package.location }} | {{ package.duration }}</p>
                    <p><strong>${{ package.price }}</strong></p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
